body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

#delay:hover {
  font-size: 36px;
}

.dropmenu {
  margin-left: 100px;
  margin-top: 100px;
  width: 250px;
  display: block;
}
.dropbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border: 2px solid lightblue;
  border-radius: 10px;
}
.selectedText{
  margin: auto 0;
  padding-left: 10px;
  max-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  max-lines: 1;
}
.arrowIcon {
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}

.droplist {
  border: 1px solid gainsboro;
  box-shadow: -1px 2px 4px grey;
  max-height: 200px;
  overflow-y: scroll; 
  overflow-x: hidden;
 transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.optionRow {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 20px;
}

.optionRow:hover {
  background-color: rgba(54, 160, 252, 0.1);
  transition: 0.2s;
}

.icon {
  margin-right: 10px;
}

.optionRow .optionText{
  display: block;
}
